env {
    TMPDIR = "$HOME/tmp"
}
 
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$HOME/singularityIMG2"
}
 
 
 
 
profiles {
  sge {
    process {
      executor = 'sge'
      penv = 'smp'
      queue = 'all.q'
    }
 
    executor {
      queueSize = 96
    }
  }
   sgecannon {
     process {
       //beforeScript = 'source /etc/profile; module load singularity/3.5.3'
       beforeScript = 'source /scicomp/groups-pure/Projects/scbs_mpob/miniconda3.9/bin/activate /scicomp/groups-pure/Projects/scbs_mpob/miniconda3.9/envs/nextflow'
       executor = 'sge'
       penv = 'smp'
       queue = 'all.q,covid.q'
       //queue = 'covid.q@node61.hpc.biotech.cdc.gov'
     }
 
     executor {
       queueSize = 32
     }
   }
   sgeaspen {
     process {
       beforeScript = 'source /scicomp/groups-pure/Projects/scbs_mpob/miniconda3.9/bin/activate /scicomp/groups-pure/Projects/scbs_mpob/miniconda3.9/envs/nextflow'
       executor = 'sge'
       penv = 'smp'
       queue = 'short.q,all.q'
     }
 
     executor {
       queueSize = 64
     }
   }
 }

